__pycache__
.idea
.mypy_cache
src/__pycache__
src/log_mod/__pycache__
src/modify
src/detect_result
src/image_classifer/*.csv
src/image_classifer/*.pkl
tests/__pycache__
tests/.pytest_cache
tests/.coverage
tests/htmlcov
tests/create_cov.bat
docs/*
!docs/html
